/**************************************
  @author Darrin C. Roenfanz          *
  @version 0.3                        *
  @link http://darrin.roenfanz.info   *
**************************************/

/* -----------------------------------*/
/* --------->>> BLOG.CSS <<<----------*/
/* -----------------------------------*/
div.article .title {
    margin-bottom: 0px;
    border-bottom: 1px solid #246;
    line-height: 0.8em;
  }
div.article .title a {
  color: #468;
  text-decoration: none;
  }
div.article .details {
  font-size: 90%;
  margin-top: 0;
  padding: 0 1em;
  font-variant: small-caps;
  }
div.article .details .date{
  font-weight: bold;
  }
  
  
div.article .details a{
  color: inherit;
  }
div.new {
  border-bottom: 1px dashed #555;
  margin-bottom: 1em;
  }
h2.recent {
  padding-top: 0.5em;
  }

/*----------> SIDEBAR <------------*/
ul.side_list   {
  margin: 0 0 1em 0;
  text-align: right;
  }
ul.side_list li  {
  list-style: none;
  padding-bottom: 1em;
  text-align: right;
  }