/**************************************
  @author Darrin C. Roenfanz          *
  @version 0.3                        *
  @link http://darrin.roenfanz.info   *
**************************************/

/* -----------------------------------*/
/* ------->>> CONTACT.CSS <<<---------*/
/* -----------------------------------*/
form {
  margin: 1em 0;
  padding: 0;
  }
 
label, input {
  display: block;
  margin-bottom: 5px;
  width: 400px;
  }
input, textarea {
  border: 1px solid #999;
  }
input {
  font-size: 1.15em;
  font-weight: light;
  padding-left: 3px;
  height: 22px;
  border: 1px solid #999;
  } 
input:focus,
textarea:focus {
  background: #EEE;
  }
textarea {
  width: 400px;
  height: 200px;
  }
div.break {
  clear: both;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 5px 0 5px 0;
  }
legend {
  display: none;
  background-color: #EEE;
  border: 1px solid #333;
  width: 100%;  
  }
fieldset{ border: none; }