body {
    background-color: #333;
    font-family:  "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
p {line-height: 1.5; margin: .75em 1em;}
dt, dd { line-height: 1.25; }

.content { padding: 8px;}

div#AdminHeader {
    background-color: #333;
    border-bottom: 3px solid #3399FF;
    height: 60px;
}
    div#AdminHeader h1 {
    background-color: #333;
    color: #FFF;
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    width: 300px;
    
    }
    div#AdminHeader p {
        color: #BBB;
        display: inline;
        float: right;
        font-size: 90%;
        margin-top:0;
        padding-top:20px;
    }
    div#AdminHeader p a {
        color: #FFF;
        font-weight: bold;
    }
    div#AdminHeader p span.LoginName {
        color: #FFF;
        font-weight: bold;
    }

div#AdminWrapper {  background-color: #FFF; overflow: hidden;}

div#AdminCrumbs { 
    background-color: #EEE; 
    border: 1px solid #AAA; 
    padding: 0.5em 1em; 
    margin-bottom: 8px; 
}
    div#AdminCrumbs a{ color: inherit; }
    
div.AdminPanel {
    background-color: #EEE;
    border: 1px solid #666;
}
    div.AdminPanel h4 {
        background-color: #BBB;
        border-top: 1px solid #DDD;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #888;
        font-size: 1em;
        font-weight: bold;
        margin: 0 0 0 0;
        padding: 0.3em 1em;
    }

div#AdminSidebar { float: left; width: 200px; }

    div#AdminSidebar ul#AdminMenu { margin: 0 1em 1em 0em; list-style: none; }
    div#AdminSidebar ul#AdminMenu li { margin-left: 1.5em; line-height:1.5; list-style: none; }
    div#AdminSidebar ul#AdminMenu li a { color: #3399FF; padding-left: 18px;text-decoration: none; }
    div#AdminSidebar ul#AdminMenu li a:hover { text-decoration: underline; }

    div#AdminSidebar ul#AdminMenu li a#articles { background: url("../images/page_white_text.png") no-repeat left center ; }  
    div#AdminSidebar ul#AdminMenu li a#page { background: url("../images/page.png") no-repeat left center ; }
    div#AdminSidebar ul#AdminMenu li a#news { background: url("../images/newspaper.png") no-repeat left center ; }
    div#AdminSidebar ul#AdminMenu li a#css { background: url("../images/page_white_code.png") no-repeat left center ; }
    div#AdminSidebar ul#AdminMenu li a#layout { background: url("../images/layout.png") no-repeat left center ; }    
    div#AdminSidebar ul#AdminMenu li a#sitemap { background: url("../images/sitemap.png") no-repeat left center ; }
    div#AdminSidebar ul#AdminMenu li a#user { background: url("../images/user.png") no-repeat left center ; }
    div#AdminSidebar ul#AdminMenu li a#group { background: url("../images/group.png") no-repeat left center ; }
    div#AdminSidebar ul#AdminMenu li a#group_jobs { background: url("../images/group_edit.png") no-repeat left center ; }
    div#AdminSidebar ul#AdminMenu li a#group_perms { background: url("../images/group_gear.png") no-repeat left center ; }
    
    div#AdminSidebar ul#AdminMenu li a#settings { background: url("../images/folder.png") no-repeat left center ; }
    div#AdminSidebar ul#AdminMenu li a#logs { background: url("../images/database.png") no-repeat left center ; }
    div#AdminSidebar ul#AdminMenu li a#filemanager { background: url("../images/wrench.png") no-repeat left center ; }
    
div#AdminContent { margin-left: 210px; }
    div#AdminContent h4 span { font-weight: normal; }
    div#AdminContent h4 span a { 
        background: url("../images/help.png") no-repeat left center ;
        color: inherit;
        font-weight: normal;
        margin-left: 1em;
        padding-left: 18px;       
    }
    div#AdminContent p a.normal { color: inherit; text-decoration: underline; padding-left: 18px;}
    div#AdminContent p a#new_content { background: url("../images/page_add.png") no-repeat left center ; }
    div#AdminContent p a#reorder_pages { background: url("../images/page_refresh.png") no-repeat left center ; margin-left: 1em;}

ul, li {
    margin: 0;
    padding: 0;
}

ul.filetree {
    border-bottom: 1px solid #DDD;
    line-height: 1.25;
    list-style: none;
    list-style-position: inside;
    margin: 1em;
    padding: 0;
    }
    ul.filetree li a { 
        background: url("../images/page_white_text.png") no-repeat left center ;
        color: inherit;
        padding-left: 18px;
        text-decoration: none;
    }
    ul.filetree li a:hover { text-decoration: underline; }
    ul.filetree li {
        list-style: none;
        border-top: 1px solid #DDD;
        padding: .2em 0 .15em 2em;
    }

    ul.filetree li ul {
        margin-left: -2em;
        margin-bottom: -.2em;
        padding-top: .2em;
    }
     ul.filetree li ul li {
        background-repeat: no-repeat;
        background-position: .4em .2em;     
        padding-left: 4em;
    }
    ul.filetree li ul li ul{
        margin-left: -4em;
    }
    ul.filetree li ul li ul li{
        padding-left: 6em;
    }
    ul.filetree li ul li ul li ul{
        margin-left: -6em;
    }
    ul.filetree li ul li ul li ul li{
        padding-left: 8em;
    }
    
div#AdminFooter {
    background-color: #333;
    clear: both;
    color: #CCC;
    padding: 10px;    
}
    div#AdminFooter p {
        font-size: 85%;
        margin: 0;
        text-align: center;
    }
