/**************************************
  @author Darrin C. Roenfanz          *
  @version 0.3                        *
  @link http://darrin.roenfanz.info   *
**************************************/

/* -----------------------------------*/
/* -------->>> ABOUT-ME.CSS <<<-------*/
/* -----------------------------------*/
img {
  border: 1px solid #888;
  float: right;
  margin-left: 2em;
  padding: .25em;
  }
#content { width: 100%; text-align: justify;}
#content p { margin-left: 1em; }