/**************************************
  @author Darrin C. Roenfanz          *
  @version 0.3                        *
  @link http://darrin.roenfanz.info   *
**************************************/

/* -----------------------------------*/
/* --------->>> BLOG.CSS <<<----------*/
/* -----------------------------------*/
#page { background-color: #FFF; }
  #sidebar {
  background-color: #FFF;  
  float: right;
  margin: 0;
  width: 27%;  
  padding: 1em;
  }
#sidebar h2 {
  padding-bottom: 3px;
  padding-left: 0.5em;
  border-bottom: 2px solid #246;
  color: #246;
  }
div.article .title {
    margin-bottom: 0px;
    border-bottom: 1px solid #246;

  }
div.article .title a {
  color: #357;
  text-decoration: none;
  }
div.article .details {
  font-size: 90%;
  margin-left: 1em;
  padding: 0;
  font-variant: small-caps;
  }
div.article .date{
  font-weight: bold;
  text-align: right;
  }
h3.title a { display: block; padding: 2px;}  
h3.title .date { float: right; }  
h3.title a:hover {  background-color: #ABCDEF; }
div.article .details a{
  color: inherit;
  }
div.new {
  border-bottom: 1px dashed #555;
  margin-bottom: 1em;
  }
h2.recent {
  padding-top: 0.5em;
  }
/*----------> SIDEBAR <------------*/
ul.side_list   {
  margin: 0;
  padding: 0;
  text-align: right;
  }
ul.side_list li  {
  list-style: none;
  padding: 0.25em 0;
  text-align: right;
  }
  