/**************************************
  @author Darrin C. Roenfanz          *
  @version 0.3                        *
  @link http://darrin.roenfanz.info   *
**************************************/

/* -----------------------------------*/
/* -------->>> LAYOUT.CSS <<<---------*/
/* -----------------------------------*/
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  }
body {
  background-image: url('../img/background.png');
  background-color: #4d6376;
  text-align: center;
  font-size: 0.875em;
  }
h1, h2, h3,
h4, h5, h6 { font-family: Georgia, "Times New Roman", serif; }
/* CONTAINER CSS -------------------- */
#container {
  background-color: #fff;
  border: 1px solid #555;
  color: #333;
  line-height: 130%;
  margin: 100px auto 10px;
  text-align: left;  
  width: 50em;
  padding: 10px;
  }
  
/* TOP CSS --------------------------4d6376 ... 475b6e */
#top { }
/* HEADER CSS ----------------------- */
#header {
  background-color: #246;
  padding: 0; margin: 0;
  border: 1px solid #FFF;
  border-left-width: 2px;
  margin-left: 200px;
  height: 115px;
  } 
#header h1 {
  padding: 0; margin: 0;
  font-size: 3em; 
  margin-top: 60px;
  margin-left: 15px;
  line-height: 1;
  text-shadow: 2px 2px #123;
  
  }
#header h1 a:hover { color: #EEE; }
#header a {
  color: #FFF;
  text-decoration: none;
  }
#header #admin_nav {
  color: #FFF;
  float: right;
  padding-right: 0.5em;
  padding-top: 0.25em;
  font-size: 0.875em;
  }
#header  #admin_nav a {
  padding: 0.25em 0.5em;
  }
#header  #admin_nav span {
  padding: 0.5em 0em;
  }
#header li a:hover { text-decoration: underline;  }
/* SITE_NAV CSS --------------------- */
ul#site_nav {
  background-color: #456789;
  float: left;
  width: 200px;
  margin: 0; padding: 0; 
  text-align: right;
  }
ul#site_nav li {
  list-style-type: none;
  border: 1px solid #FFF;
  border-bottom: none;
  border-right: none;
  }
ul#site_nav li a{
  color: #FFF;  
  display:block;  
  font-weight: bold;
  text-decoration: none;
  height: 20px;
  padding: 4px 1em 4px 1em;
  text-shadow: 1px 1px #000;  
  }
ul#site_nav li a:hover,
ul#site_nav li:hover {
  background-color: #246;
  }
/*--- IE HACKS ---*/  
*+html #header h1 { margin-top: 65px; }
* html #header h1 { margin-top: 65px; }  
* html ul#site_nav { width: 200px; margin-right: -2px; }

/* PAGE-WRAPPER CSS ----------------- */
#page {
  border: 1px solid #FFF;
  background-color: #EEE;
  color: #222;
  overflow: hidden;
  }
/* SECONDARY CSS -------------------- */

/* CONTENT CSS ---------------------- */
#content {
  border-right: 2px solid #777;
  float: left;
  width: 33em;
  padding: 1em 1em 1em 0;
  background-color: #FFF;
  }
#content h2 {
  padding-bottom: 3px;
  border-bottom: 2px solid #246;
  color: #246;
  }
#content p { margin: 1em 1em 1em 1em; }  
/* FOOTER CSS ----------------------- */  
#footer  {
  background-color: #246;
  border: 1px solid #FFF;
  clear: both;
  margin: 0; padding: 0.5em;
  }
#footer, #footer a { color: #FFF; }  